body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, rgb(255, 189, 207), rgb(213, 255, 194));
    font-family: 'Montserrat', sans-serif;
}
#wrap {
    width: 30vw;
    max-width: 450px;
    margin: 50px auto;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
}
h1 {
    text-align: center;
    color:#121212;
    font-weight:bolder;
    padding-bottom: 10px;
    border-bottom: 1px solid #121212;
}

p{
    font-family: 'Noto Sans', sans-serif;
    /* font-size: 1em; */
}
#work {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#work button {
    border-radius: 30px;
    border:1px solid #464646;
    background: rgba(255,255,255,.2);
    padding: 10px 20px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

#work button:nth-of-type(3) {
    border:1px solid palevioletred;
}

#work button:hover {
    background: rgba(255,255,255,.8); ;
}
article {
    margin-top: 50px;
}
footer {
    position: absolute;
    bottom: 20px;
    left:50%;
    margin-left: -70.6px;
    color:rgba(0,0,0,.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}