body {
    background:#fff7e3 ;
    color:#344d08;
}
#wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100w
}
a {
    text-decoration: none;
    color: #344d08;
}
ul {
    list-style: none;
    padding:0
}
h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 3em;
    text-align: center;
    margin: 50px auto 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #344d08;
    border-radius: 50%;
}
#wrap >p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#container {
    height: 446px;
    text-align: center;
    margin-top: 50px;
}
#container>img:first-of-type {
    width: 80%;
    max-width: 640px;
}
#originPic {
    background: url(../img/winterItem_1.png) no-repeat;
    height:430px;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
    margin: -465px 0;
}

#pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.pic {
    margin: 0 7px;
    width: 95px;
}
